.container{
    padding-top: 10px;   
}
.container p{
    font-family: 楷体;
    text-indent: 2em;
}
.about-title{
    margin: 0 auto;
    text-align: center;
    font-size: 52px;
    padding-top: 60px;
    font-weight: bold;
    font-family: 等线黑体;
    padding-bottom: 10px;
}
/* .container.about{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
} */
.container .left{
    width: 100%;
    height: 600px;
    padding-top: 0;
}
iframe{
    width: 100%;
    height: 100%;
    text-align: center;
}
.container  .right{
    width: 100%;
    /* height: 400px; */
    padding-top: 20px;
}


.something ul{
    /* display: block; */
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
.something ul li{
    padding-top: 10px;
}
.something img{
    width: 40px;
    height: 40px;
}
.something span{
    font-family: 等线黑体;
}

/* @media screen and (max-width:600px){
    .container .right p{
        font-size: 5px;
    }
    .something img{
        width: 25px;
        height: 25px;
    }
    .something span{
        font-size: 15px;
    }
}
@media screen and  (min-width: 615px){
   .container {
    max-width: 960px;
   }
}
@media screen and (max-width:170px){
    .something span{
        font-size: 5px;
    }
    .something img{
        width: 15px;
        height: 15px;
    }
} */