.container{
    padding-top: 50px;   
}
.container p{
    font-family: 楷体;
    text-indent: 2em;
}
.about-title{
    margin: 0 auto;
    text-align: center;
    font-size: 52px;
    padding-top: 60px;
    font-weight: bold;
    font-family: 等线黑体;
    padding-bottom: 10px;
}
.container.about{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}
.container.about .left{
    width: 65%;
    height: 600px;
}
iframe{
    width: 100%;
    height: 100%;
}
.container.about .right{
    width: 30%;
    height: 600px;
}
.container.about .right p{
    padding-left: 0;
}

.container.about .right .something ul{
    /* display: block; */
    list-style-type: none;
}
.something ul li{
    padding-top: 10px;
}
.something img{
    width: 60px;
    height: 60px;
}
.something span{
    font-family: 等线黑体;
}

@media screen and (max-width:500px){
    .container.about .right p{
        font-size: 15px;
    }
    .something img{
        width: 30px;
        height: 30px;
    }
    .something span{
        font-size: 15px;
    }
}
@media (min-width: 615px){
   .container {
    max-width: 960px;
   }
}